/* ##### GENERAL ####### */
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* row: eje principal = X ---- column: eje principal = Y */
    justify-content: space-between;
    /* align-items: ; alineación eje transversal */ 
    min-height: 100vh; /* body debe ocupar el 100% del alto del Browser */
    background-color: yellow;
}

header, footer {
    background-color: black;
    color: white;
}

@media print {
    body header
    , body aside
    , body footer {
        display: none;
    }
}

/* ##### HEADER ####### */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

@media (max-width: 768px) {
    body header {
        flex-direction: column;        
    }
}

/* ##### CUERPO ####### */
@media (max-width: 768px) {
    body section.cuerpo {
        flex-wrap: wrap;
    }
}

section.cuerpo {
    display: flex;
}

aside {
    background-color: dodgerblue;
    flex: 1;
}

main {
    width: 600px;
    background-color: aquamarine;
    flex: 3;
    padding-left: 2rem;
}

/* ##### FOOTER ####### */