body {
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background: #ccc;
    padding: 0px;
    height: 100vh;
}

.contenedor div {
    border: 1px solid black;
    padding: 1em;     
}

.c1 {
 
}

.contenedor div.c2 {
 
}

.c3 {
 
}