/* ####### VARIABLES ######## */
:root {
    --bg-color: black;
}

/* ####### GLOBAL ######## */
body {
    margin: 0;
    padding: 0;
}

div.contenedor {
    min-height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ####### FOOTER ######## */
footer {
    text-align: center;
    color: white;
    padding: 1rem;
}

/* ####### HEADER ######## */
@media (max-width: 768px ) {
    header {
        flex-wrap: wrap;
        align-items: center;        
    }    
    body header nav li a {
        padding: 0.5rem;
    }
}

header {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; /* alineación eje principal */
    align-items: center; /* alineación eje transversal */
    padding-bottom: 1rem;
    padding-top: 1rem;
}

header nav {
    order: 2;
}
header form {
    order: 3;
}
header img.logo {
    order: 1;
}

header nav ul {
    display: flex;
    list-style: none;

    margin-inline-start: 0;
    padding-inline-start: 0;
}

header nav li a {
    display: block;
    color: white;
    padding: 1rem;
    text-decoration: none;    
}

header nav li a:hover { 
    text-decoration: underline;
}

/* ####### CUERPO ######## */
section.cuerpo {
    display: flex;
    flex: 1;
}

section.cuerpo aside{
    flex: 1;
    background-color: cadetblue;
}

section.cuerpo main {
    flex: 4;
    padding: 1rem;
    background-color: chocolate;
}

@media (max-width: 768px ) {
    section.cuerpo {
        flex-direction: column;
    }
}