section.ej4-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* eje principal */
    /* align-items: ; /* eje transversal */
    background-color: #ccc;
}

section.ej4-contenedor div {
    border: 1px solid black;
    padding: 1rem;
}

section.ej4-contenedor div.ej4-c1 {
    order: 3;
}
section.ej4-contenedor div.ej4-c2 {
    order: 2;
}
section.ej4-contenedor div.ej4-c3 {
    order: 1;
}