/* ##### GENERAL ####### */
:root { /* selector global para variables CSS */
    --color-primario: yellow; /* definición de variable */
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* row: eje principal = X ---- column: eje principal = Y */
    justify-content: space-between;
    /* align-items: ; alineación eje transversal */ 
    min-height: 100vh; /* body debe ocupar el 100% del alto del Browser */
    background-color: var(--color-primario); /* utilización de variable --color-primario */
}

header, footer {
    background-color: black;
    color: white;
}

@media print {
    body header
    , body aside
    , body footer {
        display: none;
    }
}
/* ##### MENU MOBILE ####### */
div#menu-mobile {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: green;
}
/* ##### HEADER ####### */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header nav button.btn-menu-mobile {
    display: none;
}

@media (max-width: 768px) {
    body header {
        flex-direction: column;        
    }
    body header nav button.btn-menu-mobile {
        display: inline-block;
    }
    body header nav ul {
        display: none;
    }
}

/* ##### CUERPO ####### */
@media (max-width: 768px) {
    body section.cuerpo {
        flex-wrap: wrap;
    }
}

section.cuerpo {
    display: flex;
}

aside {
    background-color: dodgerblue;
    flex: 1;
}

main {
    width: 600px;
    background-color: aquamarine;
    flex: 3;
    padding-left: 2rem;
}

/* ##### FOOTER ####### */
footer {
    color: var(--color-primario); 
}

/* ##### GALERIA FOTOS ####### */
div#galeria-fotos {
    display: flex;
    flex-wrap: wrap;
}

div#galeria-fotos img {
    width: 30%;
    margin: 1rem;
}