div.columna-1, 
div.columna-2,
div.columna-3 {
    width: 33%;
    float: left;
}

div.columna-2 {
    background-color: coral;
}

div.testimonio {
    padding: 30px;
    text-align: center;
}

div.testimonio img {
    height: 100px;
}

div.clearfix {
    clear: both;
}